@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js"></script>
</head>
<body>
    <h1 class="display-4" >Welcome</h1>
    <div x-data="recipeList= getRecipes() " x-init="init()" class="box">
            <table id="recipes">
                <tr>
                    <th>Title</th>
                    <th>Ingredients</th>
                    <th>Instructions</th>
                    <th>Categories</th>
                    <th>Delete</th>
                </tr>
                <template x-for="recipe in recipeList">
                <tr >
                <td x-text="recipe.title" ></td>
                <td x-text="recipe.ingredients"></td>
                <td x-text="recipe.instructions"></td>
                <td x-text="recipe.categories"></td>
                    <td>
                        <button class="btn" x-on:click="deleteRecipe(recipe.id)">
                            <i class="fa fa-trash"></i> delete
                        </button>
                    </td>
                </tr>
                    </template>
            </table>
            </div>
    <h2>Add a recipe</h2>
    <div x-data="{recipes: [] , titleInput:'', ingredientsInput:'', instructionsInput:'', categoriesInput:''}" class="box">
        <form id="form" class="form-inline" method="POST">
        <label for="title">Title:</label>
            <input x-model="titleInput" id="title" placeholder="Enter recipe title" type="text">
            <label for="ingredients">Ingredients:</label>
            <input x-model="ingredientsInput" id="ingredients" placeholder="Enter ingredients" type="text" >
        <label for="instructions">Instructions:</label>
            <input x-model="instructionsInput" id="instructions" placeholder="Enter instructions" type="text">
        <label for="categories">Categories:</label>
            <input x-model="categoriesInput" id="categories" placeholder="Enter categories" type="text">
            <button type="submit" x-on:click="postRecipe(); location.reload();" class="btn btn-primary">Add</button>
       </form>
</div>
</body>

  

@section scripts{
<script>
        function getRecipes(){
            return {

                recipeList:[],

                init(){
                   fetch('https://localhost:7208/api/Recipes')
                        .then (response => response.json())
                        .then( data =>  this.recipeList = data)
                }
            }
        }
</script>
<script>
        function postRecipe() {
            var form = document.getElementById('form')
            form.addEventListener('submit', function (e) {
                e.preventDefault()
                var title = document.getElementById('title').value
                var ingredients = document.getElementById('ingredients').value
                var instructions = document.getElementById('instructions').value
                var categories = document.getElementById('categories').value
                fetch('https://localhost:7208/api/Recipes', {
                    method: 'POST',
                    body: JSON.stringify({
                        title: title,
                        ingredients: ingredients,
                        instructions: instructions,
                        categories: categories,

                    }),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    }
                })
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (data) {
                        console.log(data)
                        title = document.getElementById("title")
                        ingredients = document.getElementById("ingredients")
                        instructions = document.getElementById("instructions")
                        categories = document.getElementById("categories")
                        title.innerHTML = data.title
                        ingredients.innerHTML = data.ingredients
                        instructions.innerHTML = data.instructions
                        categories.innerHTML = data.categories
                    }).catch(error => console.error('Error:', error));
            });
       }
</script>
<script>
        function deleteRecipe(inputId) {
            var id = inputId;
            if (confirm("You are about to delete the recipe, are you sure?")) {
                fetch('https://localhost:7208/api/Recipes/' + id, {
                    method: 'DELETE',
                });
                alert("Successfully deleted");
                location.reload();
            } 
            else {
                location.reload();
            }
        }
</script>
}

